<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo study</title>
  </head>
  <body>
    <a href="http://www.google.com.vn">Click vào </a> <!--thẻ <a> thẻ liên kết -->

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p><img src="https://www.w3schools.com/images/w3schools_green.jpg" alt=""><p><!-- thẻ <img> thẻ hình anh-->

    <div class="hinhanh"><!--div là thẻ class cho phep các phần tử có cùng kiểu với nhau khi có cùng tên lớp class-->
      <img src="" alt="">
    </div>

    <table style="width:50%"><!-- khoảng cách giuax các tiêu đề cảu bảng-->
    <tr>             <!--mỗi hàng được gọi là thẻ <tr> -->
      <th>STT</th>   <!--thanh tiêu đề là thẻ <th>-->
      <th>Tên thí sinh</th>
      <th>Tài năng</th>
    </tr>
    <tr>
      <td>1</td>   <!--dữ liệu trong ô tương ứng với thẻ <th> là <td> -->
      <td>Nguyễn Thị A</td>
      <td>24</td>
    </tr>
    <tr>
      <td>2</td>
      <td></td>
    </tr>

    <ul>   <!--thẻ <ul> lá thẻ bắt đầu của một list -->
      <li>Bánh Mỳ </li>   <!--thẻ <li> là thẻ danh sách các nội dung cảu danh sach -->
      <li>Sinh tố</li>
      <li>Cơm rang </li>
    </ul>


<style>
  ul {
    margin: 50px 50px 50px 25px; <!-- margin la the can le  top , right , bottom , left -->
  }
  p {
    padding-top: 50px; <!-- thuoc tinh padding la thuoc tinh tao cac khoang trang top, right, bottom , left cho van ban -->
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
</style>





  </body>
</html>
